<p><a href="#/">Back to home</a></p><hr />

<div ng-repeat="task in taskKeeper track by $index">
    <div class="row justify-content-center" ng-show="task.done">
        <div class="col-12 col-md-8 content">
            <div class="card bg-warning mb-3">
                <div ng-click="showDetails = !showDetails" class="task-title card-header">
                    <p class="task-header">{{ task.name }}</p>
                    <button class="btn btn-light btn-sm button-done" ng-click="taskKeeper.splice($index, 1)">Remove</button>
                    <button class="btn btn-light btn-sm button-done" ng-click="undoneTask($index)" >Undone</button>             
                </div>
                <div ng-show="showDetails" class="card-body">
                    <p class="card-text">{{ task.surname }}</p>            
                </div>
            </div>
        </div>
    </div>
</div>